body {
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Tenor Sans', sans-serif; */
  padding-top: 54px;
  color: black;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h3,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

i {
  color: black;
}

a {
  color: #1434f7;
}

.subheading {
  font-weight: 500;
  font-size: 1.35rem;
  color: #1434f7;
}

.list-social-icons a {
  color: #f8f8ff;
}

.fa-inverse {
  color: #f8f8ff;
}

.fa-inverse:hover {
  color: #1434f7;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-inline {
  padding: 1em 0 1.5em 0;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    font-family: 'Oxygen', sans-serif;

    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.project-wrapper {
  max-width: 75%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  margin: 30px auto;
  padding: 10px;
}

#bio {
  max-width: 50%;
  text-align: justify;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
section.resume-section .resume-item .img-project {
  min-width: none;
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .img-project {
    min-width: 18rem;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

[class*=' devicon-'],
[class^='devicon-'] {
  color: black;
}

.bg-primary {
  background-color: black !important;
}

.heading-color {
  color: #1434f7 !important;
}

.smaller {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 0.5;
}

.img-project {
  opacity: 0.6;
  filter: gray contrast(200%); /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.5s ease-in-out;
}

.img-project:hover {
  transition-duration: 0.5s;
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0);
}

section {
  background-color: #efefef;
}
