body, html { /* needed for hero to work */
    height: 100%;
    width: 100%;
}

header {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
}

.pageTitle {
    float: right !important;
}

.navbar-spacer {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
    text-align: center;
}

.navbar-item {
    display: inline-block;
}

.hero-image {
    /* The image used */
    background-image: url("../images/hero-img.jpg");

    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-text {
    max-width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-text::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-color: white;
    }

/* NAVBAR */
.navbar > .container {
    width: 100%;
}

.navbar, .navbar-spacer {
    width: 100%;
    height: 6rem;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navbar {
    display: block;
    position: fixed;
}
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    color: black;
}
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: black;
}

/* core elements */

li {
    display: list-item;
}

form {
    margin-top: 1rem;
}

input {
    color: black;
}

.button.button-primary {
    background-color: white;
    color: black;
    border-color: black;
    outline: 0; 
    opacity: .8;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: lemonchiffon;
    color: black;
    border-color: lemonchiffon;
    opacity: .8;
}

input[type="text"]{
    opacity: .8;
}

input[type="text"]:focus,
select:focus {
    border: 1px solid lemonchiffon;
    outline: 0; 
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.25s 0.25s ease; 
    opacity: 0;
  }

#map {
    height: 40em;
    width: 40em;
}

@media (max-width: 520px) {
    .pageTitle span {
        display: none;
    }
    
    .pageTitle:after {
        content: "vegHead";
    }
}

